{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Portfólio Académico</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}?v=200">
</head>
<body>

<header> 
    <h1>Portfólio Académico</h1>
        <nav>
            <a href="{% url 'portfolio:licenciatura' %}">
                Licenciatura
            </a>

            <a href="{% url 'portfolio:docentes' %}">
                Docentes
            </a>

            <a href="{% url 'portfolio:formacoes' %}">
                Formações
            </a>

            <a href="{% url 'portfolio:projetos' %}">
                Projetos
            </a>

            <a href="{% url 'portfolio:tecnologias' %}">
                Tecnologias
            </a>

            <a href="{% url 'portfolio:competencias' %}">
                Competências
            </a>

            <a href="{% url 'portfolio:tfc' %}">
                TFCs
            </a>

            <a href="{% url 'portfolio:makingof' %}">
                Making Of
            </a>

            <a href="{% url 'artigos:artigo' %}">
                Artigos
            </a>

            <a href="{% url 'portfolio:sobre' %}">
                Sobre
            </a>

            <a href="/api/docs">Swagger API</a>

            <a href="{% url 'lista_campeoes_colega' %}">API LoL</a>

            {% if request.user.is_authenticated %}
                <span>
                    {{ request.user.username }}
                </span>

                <a href="{% url 'logout' %}">
                    Logout
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    Login
                </a>

                <a href="{% url 'registo' %}">
                    Registo
                </a>
            {% endif %}
        </nav>
</header>

{% if messages %}
    <section class="mensagens">
        {% for message in messages %}
            <p class="{{ message.tags }}">
                {{ message }}
            </p>
        {% endfor %}
    </section>
{% endif %}

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>Guilherme Coelho - a22309752</p>
</footer>

</body>
</html>