{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

{% if is_gestor %}
    <a href="{% url 'portfolio:nova_competencia' %}">
        <button>Nova Competência</button>
    </a>
{% endif %}

{% for competencia in competencias %}
<div class="card">
    <h3>{{ competencia.nome }}</h3>

    {% if is_gestor %}
        <p>
            <a href="{% url 'portfolio:editar_competencia' competencia.id %}">
                Editar
            </a>

            |

            <a href="{% url 'portfolio:apagar_competencia' competencia.id %}">
                Apagar
            </a>
        </p>
    {% endif %}
    
</div>

{% empty %}
<p>Ainda não existem competências registadas.</p>
{% endfor %}
{% endblock %}