{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Académico | Guilherme Quartin Coelho</title>

    <link rel="stylesheet" href="{% static 'portfolio/landing_page.css' %}?v=1">
</head>

<body class="lp-body">

    <div class="lp-page">

        <nav class="lp-nav">
            <ul>
                <li><a href="/licenciatura/">Licenciatura</a></li>
                <li><a href="/docentes/">Docentes</a></li>
                <li><a href="/formacao/">Formações</a></li>
                <li><a href="/projetos/">Projetos</a></li>
                <li><a href="/tecnologias/">Tecnologias</a></li>
                <li><a href="/competencias/">Competências</a></li>
                <li><a href="/tfc/">TFCs</a></li>
                <li><a href="/makingof/">Making Of</a></li>
                <li><a href="/artigos/">Artigos</a></li>
                <li><a href="/sobre/">Sobre</a></li>
                <li><a href="/api/docs">Swagger API</a></li>
                <li><a href="{% url 'lista_campeoes_colega' %}">API LoL</a></li>
                <li>{% if request.user.is_authenticated %}
            <span>
                {{ request.user.username }}
            </span>

            <a href="{% url 'logout' %}">
                Logout
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'registo' %}">
                Registo
            </a>
        {% endif %}</li>
            </ul>
        </nav>

        <main class="lp-hero">
            <div class="lp-hero-inner">
                <h1 class="lp-title">Portfólio Académico</h1>

                <p class="lp-description">
                    Aplicação web desenvolvida em Django para apresentar o meu percurso académico,
                    projetos, tecnologias, competências, formações, artigos e o processo de desenvolvimento.
                </p>

                <div class="lp-line"></div>

                <p class="lp-name">Guilherme Quartin Coelho</p>
            </div>
        </main>

    </div>

</body>
</html>