{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>

{% if is_gestor %}
    <a href="{% url 'portfolio:nova_tecnologia' %}">
        <button>Nova Tecnologia</button>
    </a>
{% endif %}

{% for tecnologia in tecnologias %}
<div class="card">
    <h3>{{ tecnologia.nome }}</h3>

    {% if tecnologia.logo_oficial %}
        <p>
            <img src="{{ tecnologia.logo_oficial.url }}" alt="{{ tecnologia.nome }}" width="150">
        </p>
    {% endif %}

    <p>{{ tecnologia.descricao }}</p>
    <p>Interesse: {{ tecnologia.nivel_interesse }}/10</p>

    <a href="{{ tecnologia.url_oficial }}" target="_blank">
        Site oficial
    </a>

    {% if is_gestor %}
        <p>
            <a href="{% url 'portfolio:editar_tecnologia' tecnologia.id %}">
                Editar
            </a>

            |

            <a href="{% url 'portfolio:apagar_tecnologia' tecnologia.id %}">
                Apagar
            </a>
        </p>
    {% endif %}
</div>

{% empty %}
<p>Ainda não existem tecnologias registadas.</p>
{% endfor %}
{% endblock %}